@import "tailwindcss";

@theme {
  --font-sans: "Roboto Mono", ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  font-weight: bold;
  letter-spacing: 0.1em;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
