.container {
  min-height: 100vh;
}

.main {
  min-height: calc(100vh - 256px);
  padding: 0rem 16rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: left;
}

.card {
  width: 45rem;
  aspect-ratio: 16/9;
  margin: -25.3125rem -45rem;
  perspective: 50rem;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;

  transition: transform 1000ms ease;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( -180deg );
  transition: transform 500ms ease;
}

.front, 
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: var(--fancy-color-white);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

  border-radius: 1rem;
  backface-visibility: hidden;
}

.front {
  display: grid;
  grid-template-columns: 45% 55%;
}
.back {
  display: grid;
  grid-template-rows: 60% 40%;
  transform: rotateY( 180deg );
}

.cardContent {
  align-self: center;
}

.githubUserContent {
  width: 40%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.githubUserContent > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--primary);
}
.githubUserContent > div > h1 { 
  margin: 0;
}

.orgs {
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--primary);
}
.orgs > * {
  margin: 0.25rem;
}

.imageContainer {
  max-width: 192px;
  max-height: 192px;

  border: solid 3px transparent;
  background-clip: padding-box;
  background: var(--fancy-color);
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  color: var(--primary);
}

.cardContent > p {
  margin: 0;
  padding: 0;
  margin-bottom: 0.75rem;
  font-size: var(--tiny-font);
}

.cardTitle {
  margin: 0.75rem 0 0 0;
  padding: 0;
  font-size: var(--medium-font);
  line-height: 2.2rem;
}

.cardSubtitle {
  margin: 0;
  padding: 0;
  font-size: var(--tiny-font);
  line-height: 1rem;
}

div.inline {
  margin-bottom: 0.75rem;

  display: flex;
  align-items: flex-end;
  gap: 1rem;

  object-position: bottom;
}
