@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
}
html::-webkit-scrollbar { display: none; }
a {
  color: inherit;
}
p {
  font-size: calc(1.3vh + 0.2vw);
}
h1 {
  font-size: calc(6vh + 1.5vw);
}
h2 {
  font-size: calc(2.3vh + 0.7vw);
}
ul {
  list-style-type: none;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 4.25vh 30px;
}
button {
  font-size: 1.3vh;
  margin: 25px;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  transition: transform 300ms ease;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  color: var(--red);
}
img {
  border-radius: 50%;
}
* {
  box-sizing: border-box;
  --red: #FF6666;
  --white: white;
  color: #2D2926FF;
  cursor: none;
}
@media screen and (max-width: 1920px) {
  button {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  * {
    text-align: center;
  }
}
