.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opening, .about, .highlightProjects, .smallProjects, .contact, .footer {
  width: 100vw;
  position: relative;
}
.navbar {
  height: 10vh;
  width: 100vw;
  top: 0;
  align-items: center;
  justify-content: right;
  background-color: var(--red);
  z-index: 2;
}
.opening {
  height: 100vh;
  text-align: center;
  background-color: var(--red);
}
.about {
  height: 80vh;
  display: flex;
  align-items: center;
}
.highlightProjects {
  background-color: var(--red);
}
.highlightProjects .grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 480px));
  gap: 120px;
  row-gap: 120px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.smallProjects {
  padding-top: 3vh;
  padding-bottom: 5vh;
}
.smallProjects .grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 240px));
  gap: 60px;
  row-gap: 60px;
}
.smallProject a {
  text-decoration: none;
}
.smallProject a:hover {
  text-decoration: underline;
}
.contact {
  height: 90vh;
  text-align: left;
}
.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: var(--red);
}
.footer p {
  font-size: 1vh;
  margin-left: 10px;
}
.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.opening .centered {
  padding: 10vw;
  transform: translate(-50%, -47%);
}
.about .centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.link {
  text-decoration: underline;
  text-underline-offset: 3px;
  position: relative;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, var(--red) 50%);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.link:hover {
  background-position: 2px 100%;
  color: var(--white);
}
/* .navImage {
  margin-right: 25px;
} */
.icon {
  margin-right: 25px;
}
.downArrow {
  font-size: 50px;
  -moz-animation: arrowBob 2s infinite;
  -webkit-animation: arrowBob 2s infinite;
  animation: arrowBob 2s infinite;
}
.aboutImage {
  margin: 15vw;
}
.projectImage img {
  border-radius: 25px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.down {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.red {
  color: var(--red)
}
.white {
  color: var(--white)
}
.placeholderImage {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 1280px) {
  .navbar {
    display: none !important;
  }
  .opening .centered {
    padding: 5vw;
  }
  .link {
  text-underline-offset: 1px;
  }
}
@media screen and (max-width: 960px) {
  .opening .centered {
    padding: 0;
  }
  .aboutImage {
    display: none;
  }
  .projectImage {
    display: none;
  }
  .about .centered {
    left: 50%;
  }
  .footer {
    height: 15vh;
  }
  .footerCentered {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer .centered {
    top: 40%;
  }
  .footer p {
    margin-left: 0px;
  }
}
@keyframes arrowBob {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}